body {
    margin: 0;
    background-image: url(img/teslas.jpg);
    -webkit-background-size: cover;
    -moz-background-size: cover;
    -o-background-size: cover;
    background-size: cover;
    font-family: 'Raleway', sans-serif;
}

#wrapper {
    text-align: center;
    justify-content: center;
    display: grid;
}

#header {
    display: flex;
    margin: 10px;
}

#header ul {
    list-style-type: none;
    font-size: .8em;
    display: flex;
    margin: 0;
    margin-left: 100px;
    padding: 0;
}

#header li {
    padding: 5px;
}

#logo-container img {
    width: 5em;
}

#right-header-items a, #left-header-items a {
    text-decoration: none;
    color: white;
}

#right-header-items a:hover, #left-header-items a:hover {
    text-decoration: underline;
}

#svg {
    margin-top: 200px;
    width: 25%;
    margin-right: auto;
    margin-left: auto;
}

#content-wrapper {
    color: white;
    text-align: center;
}

#content-wrapper div {
    margin: 10px;
}

#topic {
    font-size: 1.8em;
}

.button {
    background-color: black;
    color: white;
    border: 1px solid black;
    padding: 8px;
    margin: 15px;
}

.button:hover {
    border: 1px solid white;
}

#footer {
    display: flex;
    position: absolute;
    bottom: 0;
    text-align: center;
    justify-content: center;
    width: 100%;
}

#footer ul {
    list-style-type: none;
    display: flex;
    font-size: .6em;
}

#footer a {
    color: white;
    text-decoration: none;
}

#footer a:hover {
    text-decoration: underline;
}

#footer li {
    margin-left: 10px;
}

#footer img {
    width: 1em;
}